@charset "utf-8";

/* CSS Document */

.logo_one {
    margin: 3% 0 0 9%;
    width: 0px;
    height: 0px;
}

.header {
    background: rgba(204, 204, 204, 0.56);
    height: 75px;
    width: 100%;
    margin: 0 0 0 -1%;
}

.border {
    border-bottom: 5px solid #18be8c;
    width: 100%;
    height: 0px;
    margin: 0% 0 0 0;
}

.email {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #666;
    text-align: left;
    margin: 5% 0 0 0;
}

.password {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #666;
    text-align: left;
    margin: 5% 0 0 0;
}

aside a {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 300;
    margin: 2% 0 0 0;
    display: block;
    width: 53%;
}

aside input[type="button"] {
    width: 80px;
    height: 35px;
    display: block;
    color: #fff;
    margin: 5% 0 0 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #0CF;
    border: none;
    outline: none;
}

.login {
    margin: 5% 0 0 11%;
}

.content input[type="button"] {
    width: 120.6vh !important;
    height: 41px;
    background-color: #21b2fe;
    margin: 54.5% -27% 0 0%;
    font-family: "Lato", sans-serif;
    border: none;
    outline: none;
    font-size: 23px;
    font-weight: 300;
    text-align: center;
    float: right;
    border-radius: 3px;
    color: #fff;
}

.content_one {
    width: 798px;
    height: 730px;
    background-color: rgba(102, 102, 102, 0.21);
    position: relative;
    float: right;
    margin: 0% -27% 0 0;
    border-radius: 3px;
}

.content {
    margin: -52vh 0 0 0 !important;
    /*margin: -260px -30px 0px 0 !important*/
}

.content_two {
    position: absolute;
    top: -9px;
    left: 57px;
    width: 223px;
    height: 306px;
    background-color: #FFF;
    margin: 0 0 0 -2%;
}

.content_two img {
    position: absolute;
    top: 7px;
    left: 9px;
    margin: 0 0 0 0;
}

.content_two h4 {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #18be8c;
    font-weight: 400;
    text-align: center;
    margin: 0 0 0 0;
    position: absolute;
    top: 52%;
    left: 43px;
}

.content_two p {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #363f45;
    font-weight: 400;
    margin: 0 0 0 0;
    position: absolute;
    top: 62%;
    left: 0px;
    text-align: center;
}

.content_two a {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #18be8c;
    font-weight: 400;
    margin: 0 0 0 0;
    position: absolute;
    top: 90%;
    left: 73px;
    text-decoration: none;
    text-align: justify;
}

.content_three {
    position: absolute;
    top: -9px;
    left: 30px;
    width: 223px;
    height: 306px;
    background-color: #FFF;
    margin: 0 0 0 -2%;
}

.content_three img {
    position: absolute;
    top: 7px;
    left: 9px;
    margin: 0 0 0 0;
}

.content_three h4 {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #18be8c;
    font-weight: 400;
    text-align: center;
    margin: 0 0 0 0;
    position: absolute;
    top: 52%;
    left: 22px;
}

.content_three p {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #363f45;
    font-weight: 400;
    margin: 0 0 0 0;
    position: absolute;
    top: 62%;
    left: 0px;
    text-align: center;
}

.content_three a {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #18be8c;
    font-weight: 400;
    margin: 0 0 0 0;
    position: absolute;
    top: 90%;
    left: 73px;
    text-decoration: none;
    text-align: justify;
}

.content_four {
    position: absolute;
    top: -9px;
    left: 5px;
    width: 223px;
    height: 306px;
    background-color: #FFF;
    margin: 0 0 0 -2%;
}

.content_four img {
    position: absolute;
    top: 7px;
    left: 9px;
    margin: 0 0 0 0;
}

.content_four h4 {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #18be8c;
    font-weight: 400;
    text-align: center;
    margin: 0 0 0 0;
    position: absolute;
    top: 52%;
    left: 79px;
}

.content_four p {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #363f45;
    font-weight: 400;
    margin: 0 0 0 0;
    position: absolute;
    top: 62%;
    left: 0px;
    text-align: center;
}

.content_four a {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #18be8c;
    font-weight: 400;
    margin: 0 0 0 0;
    position: absolute;
    top: 90%;
    left: 73px;
    text-decoration: none;
    text-align: justify;
}

.content_five {
    margin: 0 0 0 0;
    position: absolute;
    top: 0px;
    float: right;
}

.contents_one {
    position: absolute;
    top: 313px;
    left: 45px;
    width: 223px;
    height: 306px;
    background-color: #FFF;
    margin: 0 0 0 -2%;
}

.contents_one img {
    position: absolute;
    top: 7px;
    left: 9px;
    margin: 0 0 0 0;
}

.contents_one h4 {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #18be8c;
    font-weight: 400;
    text-align: center;
    margin: 0 0 0 0;
    position: absolute;
    top: 52%;
    left: 83px;
}

.contents_one p {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #363f45;
    font-weight: 400;
    margin: 0 0 0 0;
    position: absolute;
    top: 62%;
    left: 0px;
    text-align: center;
}

.contents_one a {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #18be8c;
    font-weight: 400;
    margin: 0 0 0 0;
    position: absolute;
    top: 90%;
    left: 73px;
    text-decoration: none;
    text-align: justify;
}

.contents_two {
    position: absolute;
    top: 313px;
    left: 27px;
    width: 223px;
    height: 306px;
    background-color: #FFF;
    margin: 0 0 0 -2%;
}

.contents_two img {
    position: absolute;
    top: 7px;
    left: 9px;
    margin: 0 0 0 0;
}

.contents_two h4 {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #18be8c;
    font-weight: 400;
    text-align: center;
    margin: 0 0 0 0;
    position: absolute;
    top: 52%;
    left: 38px;
}

.contents_two p {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #363f45;
    font-weight: 400;
    margin: 0 0 0 0;
    position: absolute;
    top: 62%;
    left: 0px;
    text-align: center;
}

.contents_two a {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    color: #18be8c;
    font-weight: 400;
    margin: 0 0 0 0;
    position: absolute;
    top: 90%;
    left: 73px;
    text-decoration: none;
    text-align: justify;
}

.contents_three {
    position: absolute;
    top: 313px;
    left: 9px;
    width: 223px;
    height: 306px;
    background-color: #FFF;
    margin: 0 0 0 -2%;
}

.contents_three img {
    position: absolute;
    top: 71px;
    left: 11px;
    margin: 0 0 0 0;
    width: 27%;
}

.contents_three .socials_one {
    position: absolute;
    top: 150px;
    left: 15px;
    margin: 0 0 0 0;
    width: 24%;
}

.contents_three .socials_three {
    position: absolute;
    top: 230px;
    left: 20px;
    margin: 0 0 0 0;
    width: 23%;
}

.socials {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #09F;
    margin: 0 0 0 0;
    text-align: justify;
    font-weight: 400;
    position: absolute;
    top: 54%;
    left: 85px;
}

.socials_two {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #09F;
    margin: 0 0 0 0;
    text-align: justify;
    font-weight: 400;
    position: absolute;
    top: 29%;
    left: 82px;
}

.socials_four {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #09F;
    margin: 0 0 0 0;
    text-align: justify;
    font-weight: 400;
    position: absolute;
    top: 81%;
    left: 90px;
}

.contents_three h4 {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #18be8c;
    font-weight: 400;
    text-align: center;
    margin: 0 0 0 0;
    position: absolute;
    top: 4%;
    left: 22px;
}

.aside_one_2 {
    width: 27%;
    height: 57em;
    float: left;
    padding: 10px 0px;
    margin: 0 0 0 -2%;
    background-color: rgba(204, 204, 204, 0.42);
}

#login {
    float: left;
    margin: 3% 0% 0 55% !important;
    width: 10% !important;
}

#login_one {
    /* margin-top: 9px; */
    color: black;
    float: right;
    margin: 3% 5% 0 0%;
    width: 29%;
}


/* Validation Styles starts here */

.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.error {
    color: red;
    font-size: 13px;
    font-weight: normal;
    /*margin-bottom: 5px;*/
}

input.ng-touched.ng-invalid {
    border: 1px solid red !important;
}

.select {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    color: #369;
    font-weight: 600;
    /*display: block;
    border-bottom: 1px solid #D6D6D6;
    cursor: default;*/
    /*margin: 0;*/
}

.erreye {
    display: -webkit-inline-box;
    margin: 0 0 0 -9%;
}


/* Validation Styles ends here */


/* START ----------- Styles for Processing Bar ------------- */

.sk-circle {
    margin: 0px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


/* END ----------- Styles for Processing Bar ------------- */