<div class="pageContent extended list">
    <div>
      
    </div>
    <div class="container list_1">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-12">
                <div class="box global">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <label id="search_1" for="search">Search:
                                 <input id="search" class="form-control" type="text" [(ngModel)]="search"/>    
                            </label>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6">
                            <label id= "search_2" for="showNumberOfItems">Show:
                                <select  id="showNumberOfItems"  class="form-control" [(ngModel)]="showNumberOfItems" (ngModelChange)="changeRange($event)" >
                                     <option *ngFor="let item of showNumberOfItemsList;" [value]="item">{{item}}</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SNO</th>
                                <th *ngFor="let key of keys;let i=index" (click)="orderBy(key,i+1);">
                                    <span>{{ key|uppercase}}
                                                <span *ngIf="resource.order[key]!='asc'&& resource.order[key]!='desc'&&sortedCols.indexOf(i+1)>-1;" class="glyphicon glyphicon-sort"></span>
                                    <span *ngIf="resource.order[key]==='asc' &&sortedCols.indexOf(i+1)>-1;" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                                    <span *ngIf="resource.order[key]==='desc'&&sortedCols.indexOf(i+1)>-1; " class="glyphicon glyphicon-sort-by-attributes"></span>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of data| search : term  | global : search| pagination : range;let i=index">
                                <td>{{i+1}}</td>
                                <td *ngFor="let key of keys">
                                    <span *ngIf="stringShow(row[key],key)">{{ row[key] }}</span>
                                    <span *ngIf="key==='actions'"> 
                                                    <span><i class="zmdi zmdi-view-list zmdi-hc-fw"></i></span>
                                    <span><i class="zmdi zmdi-edit zmdi-hc-fw"></i></span>
                                    </span>
                                    <img *ngIf="imageShow(row[key])" [src]=row[key] >
                                </td>
                                <td><button (click)="showDialog(i,row)">View</button></td>
                                <!--<td><button (click)="orderEdit(i)">Edit</button></td>-->
                            </tr>
                        </tbody>
                    </table>
                    <pagination-comp class="pagination" [numberOfItems]="numberOfItems" (updateRange)="range = $event" [pageSize]="6"></pagination-comp>
                <p-dialog header="Title" [(visible)]="display">
                    <table class="table js-datatable" id="dataTable">
                              <p class="order_1" *ngIf="popupdata"> Order Id:{{popupdata.id}}</p>
                                    <tr>
                                        
                                        <th>
                                            <p>Item.No.</p>
                                        </th>
                                        <th>Product Selection</th>
                                        <th>Quantity</th>
                                        <th>Process</th>
                                        <th>Cost</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                
                                
                                    <tr *ngFor="let order of orders;let i=index">
    <td>
        <p>{{i+1}}</p>
    </td>
    <td >
<p class="category_one">{{order.ProductSelection}}</p>
</td>
<td > <span class="one">{{order.Quantity}}</span></td>
<td >
<p class="process_one">{{order.Process }}</p>
</td>
<td >
<h4>{{order.Cost}}</h4>
</td>
</tr>
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
    <td><p class="totalcost"> Total cost = {{totalcost}}/-</p> </td>
    <td><button (click)="orderEdit(i)">Edit</button></td>


</table>

    
</p-dialog>

                </div>
            </div>
        </div>
    </div>
</div>

